.wrapper {
  vertical-align: center;

  * {
    display: inline;
  }

  .num {
    &::before {
      content: attr(data-count-num);
    }
  }

  .content {
    &::before {
      content: attr(data-content-text);
    }
  }
}
