@import "../../../_variable.scss";
@import "../../../mixin.scss";

.wrapper {
  font-size: $headerFontSize;
  line-height: 0;
  display: inline-block;
  color: red;

  &[data-spacing-type="top2_bottom1"] {
    margin-top: $textFontSize*2;
    margin-bottom: $textFontSize*1;
  }

  &[data-spacing-type="top1_bottom1"] {
    margin-top: $textFontSize*1;
    margin-bottom: $textFontSize*1;
  }

  &[data-spacing-type="top0_bottom1"] {
    margin-top: 0;
    margin-bottom: $textFontSize*1;
  }

  &[data-display-type="print"] {
    .counter {
      &::before {
        font-size: $headerFontSize;
        content: attr(data-counter-num);
      }
    }

    .content {
      &::before {
        font-size: $headerFontSize;
        content: attr(data-content-text);
      }
    }

    .children {
      @include hide;
    }
  }
}
