.wrapper {
  &[data-decoration-name="bold"] {
    font-weight: bold;
  }

  &[data-decoration-name="italic"] {
    font-style: italic;
  }

  &[deta-decoration-name="superscript"] {
    vertical-align: super;
  }

  &[deta-decoration-name="subscript"] {
    vertical-align: sub;;
  }
}
